<!-- Bringup the robot's base controller
 Start the teleop controls for the Tenacity Rover
-->
<launch>
    <!-- start corner_steering node -->
    <node 
        pkg="tenacity_ros"
        type="teleop_corner_twist.py"
        name="teleop_corner_twist">
     </node>

    <!-- start teleop_twist interface -->
    <include file="$(find teleop_twist_joy)/launch/teleop.launch">
    </include>
    
    <include file="$(find my_dynamixel_tutorial)/controller_manager.launch">
    </include>
    
    <include file="$(find my_dynamixel_tutorial)/start_tilt_controller.launch">
    </include>
</launch>
