<?xml version="1.0" ?>

<!--  xacro macros for hazcam mount -->
<robot name="hazcam" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find tenacity_description)/urdf/hazcam.gazebo" />
    <xacro:macro name="hazcam_link" params="mount_point">
      <link name="${mount_point}/hazcam">
              <pose>0.0 0.0 0.0 0.0 0.0 0.0</pose>
          <visual>
              <origin rpy="0 0 0" xyz="-0.05 0 0" /> 
              <geometry>
		      <box size="0.1 0.1 0.1" />
              </geometry>
              <material name="green" />
          </visual>
          <collision>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
		      <box size="0.1 0.1 0.1" />
              </geometry>
          </collision>
          <xacro:solid_cuboid_inertial
              rpy="0 0 0" xyz="0 0 0"
              mass="0.15"
              x="0.1" y="0.1" z="0.1" />
      </link>
<!--
      <joint name="camera_optical_joint" type="fixed"> 
         <origin xyz="0.00 0 0.00" rpy="${-pi/2} 0 ${-pi/2}"/>
         <parent link="hazcam"/>
         <child link="camera_link_optical"/>
      </joint>

  <link name="camera_link_optical">
  </link>
-->

      <gazebo reference="${mount_point}/hazcam_joint">
          <!-- <disableFixedJointLumping>true</disableFixedJointLumping>  -->
          <!-- <preserveFixedJoint>true</preserveFixedJoint> -->
      </gazebo>
    </xacro:macro>

    <!-- <xacro:macro name="${mount_point}_hazcam_joint" params="x y z roll pitch yaw mount_point" > -->
    <xacro:macro name="hazcam_joint" params="x y z roll pitch yaw mount_point" > 
        <joint name="${mount_point}_hazcam_joint" type="fixed">
		<origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
            <parent link="base_link" />
            <child link="${mount_point}_hazcam" />
        </joint>

        <gazebo reference="${mount_point}_hazcam_joint">
            <preserveFixedJoint>true</preserveFixedJoint>
        </gazebo>
    </xacro:macro>
</robot>
