<?xml version="1.0" ?>

<!--  xacro macros for sensor_stalk mount -->
<robot name="sensor_stalk" xmlns:xacro="http://ros.org/wiki/xacro">

      <xacro:property name="sensor_stalk_length" value="0.0803" />
      <xacro:property name="sensor_stalk_width" value="0.0957" />
      <xacro:property name="sensor_stalk_depth" value="0.1267" />
      <xacro:property name="sensor_stalk_mass" value="0.15" />


    <xacro:macro name="sensor_stalk_link">
      <link name="sensor_stalk">
          <visual>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
                  <mesh filename="package://tenacity_description/meshes/bases/SensorStalk_10_degrees.stl" scale="0.001 0.001 0.001"/>
                  <!-- <box size="${sensor_stalk_length} ${sensor_stalk_width} ${sensor_stalk_depth}"/> -->
              </geometry>
              <material name="green" />
          </visual>
          <collision>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
                  <box size="${sensor_stalk_length} ${sensor_stalk_width} ${sensor_stalk_depth}"/>
              </geometry>
          </collision>
          <xacro:solid_cuboid_inertial
              rpy="0 0 0" xyz="0 0 0"
              mass="${sensor_stalk_mass}"
              x="${sensor_stalk_length}" y="${sensor_stalk_width}" z="${sensor_stalk_depth}" />
      </link>

      <gazebo reference="sensor_stalk">
          <material>Gazebo/Green</material>
      </gazebo>

      <gazebo reference="sensor_stalk_joint">
          <!-- <disableFixedJointLumping>true</disableFixedJointLumping>  -->
          <!-- <preserveFixedJoint>true</preserveFixedJoint> -->
      </gazebo>
    </xacro:macro>

    <xacro:macro name="sensor_stalk_joint" params="x y z" >
        <joint name="sensor_stalk_joint" type="fixed">
            <origin rpy="0 0 1.57" xyz="${x} ${y} ${z}"/>
            <parent link="base_link" />
            <child link="sensor_stalk" />
        </joint>

        <gazebo reference="sensor_stalk_joint">
            <preserveFixedJoint>true</preserveFixedJoint>
        </gazebo>
    </xacro:macro>
</robot>
