<launch>

    <arg name="device" default="/dev/openmvcam" />
        <node pkg="openmv_flow" name="openmv_flow" type="optical_drift.py">
            <param name="device" value="$(arg device)" />
        <rosparam command="load" file="$(find openmv_flow)/config/optical_flow.yaml" />
        </node>

</launch>
