<?xml version="1.0" ?>
<!--  xacro macros for sonars -->

<robot name="tenacity_sonar" xmlns:xacro="http://ros.org/wiki/xacro">
=======
<!--  xacro macros for laser sensor (rplidar_a1).

 -->
    <xacro:macro name="sonar_link" params="mount_point"> 
        <link name="${mount_point}_sonar">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
	   	    <!-- <box size="0.01 0.01 0.01"/> -->
                      <mesh filename="package://tenacity_description/meshes/brackets/Sonar_Bracket_${mount_point}.dae" />
                </geometry>
                <material name="white" />
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
	   	    <!-- <box size="0.01 0.01 0.01"/> -->
                      <mesh filename="package://tenacity_description/meshes/brackets/Sonar_Bracket_${mount_point}.dae" />
                </geometry>
            </collision>
            <xacro:solid_cuboid_inertial rpy="0 0 0" xyz="0 0 0" mass="0.150" x="0.06" y="0.05" z="0.05"/>
        </link>

        <gazebo reference="${mount_point}_sonar">
            <material>Gazebo/White</material>

            <sensor type="ray" name="sonar_sensor">
                <always_on>true</always_on>
                <update_rate>50</update_rate>
                <visualize>true</visualize>
                <topic>/sensors/ultrasound/${mount_point}</topic>
                <pose>0 0 0 0 0 0</pose>
                <ray>
                     <scan>
                <horizontal>
                    <samples>25</samples>
                    <resolution>1</resolution>
                    <min_angle>-0.134533</min_angle>
                    <max_angle>0.134533</max_angle>
                </horizontal>
                <vertical>
                    <samples>25</samples>
                    <resolution>1</resolution>
                    <min_angle>-0.134533</min_angle>
                    <max_angle>0.134533</max_angle>
                </vertical>
                    </scan>

                    <range>
                        <min>0.1</min>
                        <max>2.0</max>
                        <resolution>0.05</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
                    <frameName>sonar</frameName>
                    <topicName>/sensors/ultrasound/${mount_point}</topicName>
                    <gaussianNoise>0.000</gaussianNoise>
                    <alwaysOn>true</alwaysOn>
                    <updateRate>10</updateRate>
                    <radiation>ultrasound</radiation> 
                    <fov>0.20</fov>
                    <visualize>true</visualize>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="sonar_joint" params="x y z roll pitch yaw mount_point" > 
        <joint name="${mount_point}_sonar_joint" type="fixed">
            <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
            <parent link="base_link" />
            <child link="${mount_point}_sonar" />
        </joint>

        <gazebo reference="${mount_point}_sonar_joint">
            <preserveFixedJoint>true</preserveFixedJoint>
        </gazebo>
    </xacro:macro>
</robot>
